:root {
    font-family: -apple-system, BlinkMacSystemFont, "Inter", "Segoe UI",
        "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #0f0f0f;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

input {
    padding: 8px;
    font-size: 16px;
    font-family: monospace;
    border: 1px solid #eee;
    color: #999;
    width: 400px;
    border-radius: 4px;
}

input:focus {
    outline: none;
}

textarea {
    padding: 8px;
    font-size: 16px;
    line-height: 140%;
    width: 95vw;
    height: 80vh;
    border: 0;
    resize: none;
}

textarea:focus {
    outline: none;
}

button {
    border: none;
    border-radius: 4px; /* Rounded corners */
    padding: 10px 20px;
    background-color: #ddd; /* Blue background */
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ccc;
}

button:active,
button:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5); /* Highlight when active or focused */
}
